* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

header {
  background: linear-gradient(to right, #ff7e00, #ffb347);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header img {
  height: 130px;
  border-radius: 100px;
}

.card-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.container,
.card-principal,
h3,
p {
  margin: 20px;
}

.description {
  font-size: 16px;
  text-align: center;
  margin: 10px;
}

.carrossel {
  display: flex;
  gap: 5px;
}

.description-img {
  text-align: center;
}

.description-img img {
  max-width: 100%;
  height: 400px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.infos {
  text-align: center;
}

.route {
  display: flex;
  justify-content: center;
  align-items: center;
}

.route h3 {
  text-align: center;
  margin: 10px;
}

i {
  margin-left: 10px;
  margin-right: 5px;
}

.contact-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}

.contact-phone h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vacancy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container-carrossel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-height: 400px;
  max-width: 800px;
  margin: 0 auto;
}

.carrosel-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slider {
  width: 100%;
  max-width: 500px;
  height: 300px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.slider.on {
  opacity: 1;
  position: relative;
  left: auto;
  transform: none;
}

.img-completa {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.vacancy .cta {
  color: #fff;
  background: linear-gradient(to right, #ff7e00, #ffb347);
  border: none;
  padding: 10px;
  margin: 20px;
  margin-bottom: 10px;
  margin-top: 120px;
  border-radius: 50px;
  cursor: pointer;
}

.vacancy p {
  margin-bottom: 100px;
}

button {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
}

#prev-button img {
  width: 50px;
  height: 50px;
  rotate: 180deg;
}

#next-button img {
  width: 50px;
  height: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  background: linear-gradient(to right, #ff7e00, #ffb347);
  margin-top: 60px;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
}

.footer h2 {
  font-size: 20px;
  padding: 0px;
}

.footer p {
  font-size: 20px;
  padding: 0px;
  color: #fff;
  text-align: center;
}

.footer p a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    display: block;
  }

  .card-principal {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
  }

  .description-img {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
  }

  .description-img img {
    max-width: 100%;
    height: 200px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .carrosel {
    width: 100%;
  }

  .carrosel-img {
    width: 100%;
  }

  .vacancy h2 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  
  body {
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
  }

  .contact-phone {
    display: block;
  }

  .container {
    margin: 0px;
  }

  figcaption {
    margin-top: 10px;
  }

  .card-principal {
    padding: 0px;
  }

  .description-img img {

    width: 80%;
  }
  
  .vacancy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }

  .vacancy h2 {
    text-align: center;
    font-size: 1.2rem;
  }

  .vacancy p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.95rem;
  }

  .vacancy .cta {
    color: #fff;
    background: linear-gradient(to right, #ff7e00, #ffb347);
    border: none;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 50px;
    cursor: pointer;
    font-size: 0.95rem;
  }

  .route {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .route h3 {
    margin: 0px;
 
  }

  .route li {
    
   margin-top: 10px;
   margin-bottom: 10px;

  }

  .contact-phone {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .container-carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .carrosel-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .slider,
  .img-completa {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
  }

  button {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    margin: 0 5px;
  }

  #prev-button img {
    width: 30px;
    height: 35px;
    position: relative; 
    left: 15px; 
    margin: 0px;
  }

  #next-button img {
    width: 30px;
    height: 35px;
    position: relative; 
    left: -5px; 
    margin: 0px;
 
  }

  .footer {
    width: 100%;
  }
}
